<div class="category-edit">
    <label class="category-edit__label category-edit__label--file">
        Изменить картинку категории
        <app-input type="file" class="category-edit__input category-edit__input--file"></app-input>
        <img src="../../../assets/images/cake.png" alt="">
    </label>


    <label class="category-edit__label category-edit__label--text">
        Изменить название категории
        <app-input type="text" title="торты" class="category-edit__input category-edit__input--text"></app-input>
    </label>
</div>