<ng-container [formGroup]="parentFormGroup">
    <label class="input-file">
        <p class="input-file__title">{{label}}</p>
        <input type="file" (change)="onFileChange($event)">

        <div class="input-file__image" >
            <ng-container *ngIf="file || imgSrc; else icon">
                <img width="100" src="{{file ? file : env.apiUrl + '/' + imgSrc}}">
            </ng-container>

            <ng-template #icon>
                <span class="input-file__icon">+</span>
            </ng-template>
        </div>

<!--        <p *ngIf="fileName" class="input-file__text">{{fileName}}</p>-->
    </label>
</ng-container>
