<form class="category-create__form" [formGroup]="form" (submit)="onSubmit()">

    <label class="category-create__label">
        Название
        <app-input [parentFormGroup]="form" [controlName]="'name'"></app-input>
    </label>
    <label class="category-create__label" (change)="flagToggle = !flagToggle">
        Картинку
        <div class="category-create__button" [style.display]="flagToggle ? 'block' : 'none'"></div>
        <app-input-file [parentFormGroup]="form" [controlName]="'image'"></app-input-file>
    </label>

    <button class="category-create__submit" type="submit" [disabled]="form.invalid">Создать</button>
</form>