<form class="categories-create" [formGroup]="form" (submit)="onSubmit()">
    <button class="button button--margin" type="submit" [disabled]="form.invalid">Создать</button>
    <div class="categories-create__wrapper">
        <div class="categories-create__wrap">
            <app-input [parentFormGroup]="form"
                       [controlName]="'name'"
                       label="Название"></app-input>
        </div>
        <div class="categories-create__wrap">
            <app-input-file [parentFormGroup]="form"
                            [controlName]="'image'"
                            (onChange)="setImage($event)"
                            label="Картинка">
            </app-input-file>
        </div>
    </div>
</form>
