@import './app/shared/styles/fonts'


body
    margin: 0
    font-family: "Stratos-regular", sans-serif

.button-deffault
    padding: 8px 
    border-radius: 4px
    text-decoration: none
    color: white
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25)   
    background-color: #24ac02
    &:hover
        background-color: #2cd801
    &--warning
        background-color: #d84040
        &:hover
            background-color: #fd4747

.create
    display: inline-block
    margin-top: 10px
    margin-left: 10px
    padding: 10px 30px