<div class="sidebar">
    <header class="sidebar__header">
        <h1>
            Pastry Station
        </h1>
        <p>
            Настройки сайта
        </p>
    </header>
    <ul class="sidebar__list">
        <li class="sidebar__item">
            <a routerLink="/categories" routerLinkActive="active" class="sidebar__button">
                Категории
            </a>
        </li>
        <li routerLink="/products" class="sidebar__item">
            <a class="sidebar__button">
                Товары
            </a>
        </li>
    </ul>
</div>